body {
    background-color:lightyellow;
  }

  h1 {
    color:grey;
    text-align:center;
    font-family:'Lobster';
  }
.footer {
    color:lightgray;
    font-size: 8;
    text-align: center;
}

  .header-box {
          background-color: #eeeecc;
          padding: 1%;
          margin: 2%;
          border-radius: 2em;
      }
   .body-box {
          font-family:'Lobster';
          font-size:28px;
          color:#226666;
          background-color:lightyellow ;
          padding: 2%;
          margin: 10%;
          border-radius: 2em;
      }
.body-box:hover {
  background-color: lightgoldenrodyellow;
}

